*{
    margin: 0;/*prueba*/
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.conten-backImg-login{
  width: 100%;
  height: 100vh;
  display: flex;
  overflow-y: auto;
  position: relative;
}
.conten-backImg{
  /*background-image: url("../../src/img/ensalada-jugo-espacio-copia.jpg");*/
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  /*background-repeat: no-repeat;
  background-size: cover;
  background-position: center;*/
  z-index: -1;
}
.conten-backImg img{
  width: 100%;
  height: 100%;
  display: flex;
}

.conten-login{
  display: flex;
  width: 100%;
  height: 100%;
}
.conten-col-login{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login{
  background-color: rgba(0, 0, 0, .15);
  box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, .4);
  padding: 20px;
  display: flex;
  flex-direction: column;
  line-height: 2;
  width: 250px;
}
.login .title{
  text-align: center;
  color: #fff;
  font-size: 25px;
  margin-bottom: 20px;
}
.login input, .login button{
  border: none;
  border-radius: 5px;
  padding: 10px;
}
.login input{
  background-color: rgba(255, 255, 255, .2);
  margin-bottom: 10px;
  outline: none;
  color: #fff
}
.login input::placeholder{
  color: #d3bebe;
}
.login input:focus{
  outline: 2px solid #50c1da;
}
.login button{
  background-color: #222a3f;
  color: #fff;
  margin-top: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login button div{
  margin-left: 10px;
}
.login button:hover{
  background-color: #616d8b;
}
/***********LOADER************/
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 0;
  font-size: 2px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/******************************/
@media (min-width:1281px){}
@media (min-width:1025px) and (max-width:1280px){}
@media (min-width:768px) and (max-width:1024px){
  .login .title{
    font-size: 20px;
  }
  .login input{
    font-size: 12px;
  }
  .conten-login{
    background-color: #1f1f20;
  }
  .login button{
    font-size: 13px;
  }
}
@media(min-width:481px) and (max-width:767px){
  .login .title{
    font-size: 20px;
  }
  .login input{
    font-size: 12px;
  }
  .conten-login{
    background-color: #1f1f20;
  }
  .login button{
    font-size: 13px;
  }
}
@media(max-width:480px){
  .login{
    width: 70%;
  }
  .login .title{
    font-size: 18px;
  }
  .login input{
    font-size: 11px;
  }
  .conten-login{
    background-color: #1f1f20;
  }
  .login button{
    font-size: 12px;
  }
}
